<h2>Dr Todd's Mystery Equation Evaluator</h2>
<br/>
<br/>
<%= form_tag(eq_evaluate_path)  do -%>
   <%= label_tag "X" %><%= number_field_tag 'xvalue' %> 
   <%= label_tag "Y" %><%= number_field_tag 'yvalue' %>
   <%= label_tag "Result: #{@result}" %>
   <br/>
   <br/>
   <%= button_tag "Evaluate", :value=>"evaluate"  %>
   <%= button_tag "Reset", :value=>"reset" %>
<% end %>
<br/>
<br/>
<div  >
<%= label_tag "Previous Attempts:" %>
<%= results_list @results %>
</div>
<div id="chartdiv" style="block:none;float:left;height:400px;width:300px; "></div>
<script>
$.jqplot('chartdiv', [ <%= @results.to_s %>]);
</script>
