
<div class="ui-widget" >
<div class="ui-widget-header" >
Dr Todd's Mystery Equation Evaluator
</div>
<div class="ui-widget-content">
<%= form_tag(eq_evaluate_path)  do -%>
   <%= label_tag "X" %><%= number_field_tag 'xvalue' , (@results.last[0] if @results.size > 0) %> 
   <%= label_tag "Y" %><%= number_field_tag 'yvalue' , (@results.last[1] if @results.size > 0) %>
   <%= label_tag "Result: #{@result}" %>
   <br/>
   <br/>
   <%= button_tag "Evaluate", :value=>"evaluate"  %>
<% end %>
</div>
</div>
<div class="ui-widget-content">
<%= form_tag(eq_csv_path) do -%>
<div class="ui-widget-header" >
<%= label_tag "Previous Attempts:" %>
</div>
<%= results_list @results %>
<%= button_tag "Reset", :value=>"reset" %>
<%= button_tag "CSV" if @results.size > 0 %>
<% end %>
</div>
</div>
<div id="chartdiv" style="block:none;float:left;height:400px;width:300px; "></div>
<script>
$.jqplot('chartdiv', [ <%= @results.to_s %>]);
</script>

